token: ""
prefix: ""
guilds:
    main: ""
    testing: ""
channels:
    invite: ""
    logs: ""
roles:
    website: ""
    tester: ""
    bots: ""
    developers: "
port: 3000
color: 0x7289da
bot:
    id: ""
    secret: ""
    redirect: ""
    scopes:
        - identify
        - guilds.join