<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot List</title>
    <%- include("./components/header.ejs") %>
</head>
<body>
    <%- include("./components/navbar.ejs", { bot, user }) %>

    <div class="container">
        <br><br>
        <div class="jumbotron">
            <h2>404 - Seems like you got lost!</h2>
            <p>Made by <b style="font-weight: bolder;">Zyrouge Development</b></p>
        </div>
    </div>
</body>
</html>